langchain
python-dotenv
langchain-community
langchain-groq
streamlit
langchain_core
langchain_huggingface
sentence_transformers
langchain_chroma
pypdf
arxiv
wikipedia
faiss-cpu
ipykernel
duckduckgo-search
validators==0.28.1
youtube_transcript_api
unstructured
pytube
numexpr
huggingface_hub